/* Style reset to make sure the site looks the same in all browsers */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END of reset code */

* {
  box-sizing: border-box;
}

/* @TODO: fix the styling. This looks bad. */
body {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

#canvas {
  display: flex;
  align-self: center;
  background: #f0f0f0;
  border-radius: 5px;
  margin: auto;
}

#source {
  display: none;
}

#enemy01 {
  display: none;
}

/* Unnecessary but might as well hide them for now*/
#enemy02a01, #enemy02a02 {
  display: none;
}



/* h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
} */

h1, h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1.25rem;
}
h1 {
  font-size: 3rem;
}

#playerScore, #playerLives {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

#scoreForm{
  position:absolute;
  margin-top: 320px;
  display: none;
}
.formStyle{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc; 
  border-radius: 6px; 
  margin: 10px;
  font-size: 20px;
}

#formButton{
  display: flex;
  margin: auto;
}

#scoreTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin: 10px;
}
tr {
  margin: 2px;
}
.mainFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}